<div class="cent" style="text-align:center">
    <br>
    <div class="spinner-border text-info"></div>
    <h1 class="text-danger">ERROR 404 </h1>
    <!-- <h4>page not found</h4> -->
    <h5>bulid is going on...
        <p>To redirect to Home page click Home</p></h5>
        <h4 class="btn btn-info "><a href="http://localhost:4200"><b class="text-white">Home</b></a></h4>
    <br/>
    <img src="https://img.freepik.com/free-vector/construction-message-with-megaphone-symbol_1017-31448.jpg?w=2000"
     alt="Site Under Construction" height="200px" class="rounded"><br/>
    <h2>Progress Bar</h2>
    <div class="progress ">
        <div class="progress-bar " style="width:45%" ></div>
      </div>
</div>
