<div class="about-section">
    
    <h1>About Us</h1>
    <p>We have created this freeBOOKs web application, so EVERYONE can download books for free !!!</p>
    <p>"A room without books is like a body without a soul." -Marcus Tullius Cicero </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" >
    <div class="column ">
      <div class="card" >
        <img src="" alt="" class="rounded-pill" width="50%">
        <div class="container" style="text-align:center">
          <h2>Abhishek Kadam</h2>
          <p class="title">Owner, Creator & Developer</p>
          <p>I am a Java fullStack Angular Developer @INFOSYS.
            I am Certified user of Autodesk Fusion 360 and SolidWorks. 
            I am blender user, use it to make some animation and some cool stuff. 
          </p>
          <p>Email: abhishekkadam7797@gmail.com</p>
          <div class="row">
            <p class="column"><a class="btn btn-dark" href="">Contact</a></p>
            <p class="column"><a class="btn btn-dark" href="https://www.linkedin.com/in/kadamabhishek">LinkedIn</a></p>
            <p class="column"><a class="btn btn-dark" href="https://www.behance.net/abhishekkadam4">Behance</a></p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->

</div>
