<br/>
<div class="container-fluid  marg">
    <div class="column col-md-4">
        <div class="card ">
           <div class="card-header bg-primary title1 text-white text-center ">Book Details</div>
           <div class="card-body">Title :</div>
           <div class="card-body">Author :</div>
           <div class="card-body">Rating :</div>
           <div class="card-body">Publication Date : </div>
           <div class="card-body">Description : </div>
           <div class="card-body">Prize :  </div>
           <div class="card-footer text-center"><button class="btn btn-success text-white">Buy</button></div>
         </div>
        </div>
</div>
