<div class="imgbg container-fluid">
   <br/>
   <h1 class="title1" style="text-align:center">BOOKS CATEGORY</h1> 
</div>
<br/>
<div class="row">
   <div class="column col-md-2">
   <div class="card ">
      <div class="card-header bg-primary title1" style="text-align:center ">  Book1</div>
      <div class="card-body">
         <a class="" href="book"><img src="https://picsum.photos/250" class="col-md-12" height="200px">
         </a>
      </div>
      <div class="card-footer">Book Short Description</div>
    </div>
   </div>
   <div class="column col-md-2">
      <div class="card ">
         <div class="card-header bg-success title1" style="text-align:center ">Book2</div>
         <div class="card-body">
            <a class="" href="book"><img src="https://picsum.photos/200" class="col-md-12" height="200px">
            </a>
         </div>
         <div class="card-footer">Book Short Description</div>
       </div>
   </div>
   <div class="column col-md-2">
         <div class="card ">
            <div class="card-header bg-danger title1" style="text-align:center ">Book3</div>
            <div class="card-body">
               <a class="" href="book"><img src="https://picsum.photos/300" class="col-md-12" height="200px">
               </a>
            </div>
            <div class="card-footer">Book Short Description</div>
          </div>
   </div>

   <div class="column col-md-2">
      <div class="card ">
         <div class="card-header bg-info title1" style="text-align:center ">  Book4</div>
         <div class="card-body">
            <a class="" href="book"><img src="https://picsum.photos/500" class="col-md-12" height="200px">
            </a>
         </div>
         <div class="card-footer">Book Short Description</div>
       </div>
      </div>
      <div class="column col-md-2">
         <div class="card ">
            <div class="card-header bg-dark title1" style="text-align:center ">Book5</div>
            <div class="card-body">
               <a class="" href="book"><img src="https://picsum.photos/100" class="col-md-12" height="200px">
               </a>
            </div>
            <div class="card-footer">Book Short Description</div>
          </div>
      </div>
      <div class="column col-md-2">
            <div class="card ">
               <div class="card-header bg-secondary title1" style="text-align:center ">Book6</div>
               <div class="card-body">
                  <a class="" href="book"><img src="https://picsum.photos/400" class="col-md-12" height="200px">
                  </a>
               </div>
               <div class="card-footer">Book Short Description</div>
             </div>
      </div>


</div>

